<a href="https://colab.research.google.com/github/joiinar35/curso_ML/blob/main/Procesamiento_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Acceso y Procesamiento de Datos en Python**

# **Importante**
Vamos a trabajar con los archivos
 Es importante que se copien los datasets de prueba siguientes:

1.   datos_2025-03-17 QRO.csv
2.   literacy_birth_rate.xlsx
3.   mtcars.json

ubicados en la siguiente direccion:
https://github.com/joiinar35/curso_ML/tree/main/datasets/proc_datos

loa asrchivos se pueden bajar con `!wget -O`  como en el notebook previo

Prueben cargar el paquete **urllib** o **requests** y bajarse estos archivos.directop a un DataFrame tambien\.

La base de datos se las paso internamente en SECIU porque contiene datos del SGB y no es conveniente ventilarla a internet por mas que sean datos viejos.

4.   ingenieria.db (base de datos sqlite3)


  a la raiz del directorio donde se encuentra este notebook.

In [ ]:
# importamos paquetes basicos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
# Escribir el codigo aqui

# **Importando datos csv**
Vamos a limpiar un archivo de serie de datos temporales proveniente de un instrumento de medicion que opero 24/7 durante cierto periodo de tiempo.

Para este ejercicio es necesario cargar el archivo *'datos_2025-03-17 QRO.csv'* y realizar las siguientes tareas:

1. Leer solo las primeras cinco columnas y eliminar las comillas que aparecen en todos lados.

2. Fundir la 1a y 2da columnas y convertirla al formato DateTime ('YYYY-mm-dd HH:MM:SS') usando la `strfmtime()` con  fmt=(%Y-%m-%d %H:%M:%S)

3. Convertir el tipo de datos en cada columna restante a tipo float y mantisa de dos decimales (%.2f)

4. Cambiar las etiquetas de Columna por 'DateTime', 'GIC', 'Temp1', 'Temp2'.

5. Cambiar los NO DATA ("NO DATA") por NaN

6. Exportar el resultado final a un archivo llamado 'GIC_QRO.csv'  con el metodo `.to_csv()` de Pandas

un modelo de la salida final se muestra en la imagen abajo.

**Sugerencia:** Mucha cosa ya se puede hacer usando los wildcards al usar el metodo `read_csv()` de Pandas durante la importacion del archivo.

A modo de ejemplo el archivo deberia verse asi:

Datetime,gic,T1,T2\
2024-01-01 00:00:00,5.62,30.25\
2024-01-01 00:01:00,4.99,29.87\
2024-01-01 00:02:00,4.99,29.87\
2024-01-01 00:03:00,5.62,30.62\
2024-01-01 00:04:00,5.62,30.37

## **Estadisticas basicas de un Dataset**

Aplicando los metodos:
 `.head()`, `.tail()`, `.info()` y `.describe()` sobre el dataset procesado. Saquen toda la info que se pueda extraer:\
(e.g., que periodo de tiempo abarca el dataset, estadisticas de valores, etc.)

Cargar el paquete **missingno** y realizar los graficos del slide #40 de la presentacion 4 con titulo **"Inspeccion Visual"**.

# **Cargando un archivo Excel**

Cargar el archivo:  *literacy_birth_rate.xlsx* y realizar las siguientes tareas:

1. Considerar las siguientes columnas unicamente:
(Country, Continent, Female Literacy, Fertility, Population)
ponerlas como estan escritas aqui.

2. Los nombre de pais estan en Frances: hacer un reemplazo en masa por nombres en espanol, idem para los continentes, los acronimos son 'raros', hay mas continentes de los que son.\
 (sugerencia: usar un diccionario para hacer las sustitutciones y el google translate para la lista de paises.)

3. Ver si hay datos faltantes e Imputar en la medida que se pueda. Vean las estadisticas de cada pais afectado en Wikipedia\.

 En los casos que no, los datos faltantes deben ser rellenos con NaN.

4. Exporten la salida a un nuevo archivo .xlsx con los datos limpios
(nombrenlo a su gusto).

In [2]:
# Escribir el codigo aqui

# **Cargando un achivo Json**

Abrir el archivo *mtcars.json* y asignarlo a un DatafFrame  usando el metodo `.read_json()`

Usar `.head()`,  `.info()` y `.describe()` para explorar el archivo.

Este archivo se usara para construir un modelo de ML en las proximas practicas.

Grafiquen una matriz de correlacion para visualizar posibles relaciones entre las variables.

In [ ]:
# Escribir el codigo aqui

Accediendo a una Base de datos Relacional

En este caso usaremos una base de datos SQLite3 conteniendo datos del SGB correspondiente a las carreras de Ingenieria.
El objetivo es elaborar un conector con **SQLAlchemy**  y accesar la base.

Aqui deberemos realizar las siguientes tareas:

1. Listar las tablas de la base

2. Realizar una consulta SQL simple que genere un listado de los estudiantes de carreras de ingenieria en Computacion  (plan 97) que ingresaron en el periodo 2000-2006.  Y que no  sean cambio de plan (i.e,. PorCambioPlan=N)\

Consultar en la tabla *carreras*  el codigo de carrera y el ciclo corresp  para Ing. en Computacion plan 1997.

3. Cargar la consulta en un DataFrame  y aplicar metodos para obtener sus estadisticas basicas.
Hacer un boxplot con `seaborn` que visualice la distribucion de asignaturas salvadas por cada alumno en ese periodo. *(tabla activ2)*

4. Repetir la consulta anterior pero discriminando los resultados por Montevideo e interior. Visualizar ambas estadisticas en cada caso.

En las dos celdas proximas se proporcionan ejemplos de como explorar una base SQLite3 con **SQLAlchemy**

**Importante**

Recuerden que las bases SQLite son autcontenidas y en este caso no tiene control de acceso. Se puede bajar el ejecutable y una Gui basica desde www.sqlite.org. para casi todos los S/O.
En linux el sqlite3 el comando y se ejecuta desde el shell  

En su shell nativo hay unos comandos basicos para saber:

* `.help` : la ayuda  
* `.tables` muestra las tablas
* `.headers on` : despliega los encabezados de los campos en cada tabla
* `.schema` : para ver la estructura de las tablas y vistas
* `.output FILE `:  redirige la salida de la query a un archivo
llamado FILE, si FILE se omite la salida es la consola.

# **Listar las tablas en una Base de datos relacional**


   1. Se importa la biblioteca `sqlalchemy` como `sa` para acceder a sus funciones.
   2.  Se crea un objeto `engine` usando `create_engine()` para establecer una conexión con la base de datos SQLite. Asegúrate de reemplazar 'ingenieria.db' con el nombre real de tu base de datos.
   3. Se llama al método `table_names()` en el objeto `engine` para obtener una lista de los nombres de las tablas en la base de datos.
   4. Finalmente, se itera sobre la lista `table_names` e imprime cada nombre de tabla.

In [ ]:
import sqlalchemy as sa

# Crea un motor de base de datos
engine = sa.create_engine('sqlite:///ingenieria.db')  # Reemplaza 'tu_base_de_datos.db' con el nombre de tu archivo de base de datos

# Obtén los nombres de las tablas
table_names = engine.table_names()

# Imprime los nombres de las tablas
for table_name in table_names:
    print(table_name)

# **Explorar la estructura de una tabla la base de datos con sqlalchemy**

Razonamiento:

   1. Importamos la librería sqlalchemy como sa para un acceso más corto.
   2. Creamos un objeto engine que representa la conexión a la base de datos SQLite. Debes reemplazar 'mibase.db' con el nombre real de tu archivo de base de datos.
   3. Creamos un objeto `MetaData` que almacenará información sobre las tablas en tu base de datos.
   4. Usamos `metadata.reflect(bind=engine)` para leer la estructura de la base de datos y almacenar la información en el objeto metadata.
   5. Accedemos a la tabla deseada por su nombre usando `metadata.tables[table_name]`. Reemplaza `'tu_tabla'` con el nombre real de tu tabla.
   6. Iteramos a través de las columnas de la tabla y imprimimos el nombre y el tipo de cada columna.
   7. Finalmente imprimimos la sentencia `CREATE TABLE` de la tabla elegida.

Consideraciones:

    * Asegúrate de tener instalado SQLAlchemy: pip install sqlalchemy
    * Reemplaza los nombres de la base de datos y la tabla con los tuyos.
    * El código imprimirá información sobre cada columna de la tabla.

Ver el codigo abajo

In [ ]:
import sqlalchemy as sa

# Crear el motor de la base de datos
engine = sa.create_engine('sqlite:///mibase.db')  # Reemplaza 'mibase.db' con el nombre de tu archivo de base de datos

# Obtener la metadata de la base de datos
metadata = sa.MetaData()
metadata.reflect(bind=engine)  # Reflejamos las tablas existentes en la metadata

# Obtener la tabla por su nombre
table_name = 'tu_tabla'  # Reemplaza 'tu_tabla' con el nombre de la tabla que deseas inspeccionar
table = metadata.tables[table_name]

# Imprimir el esquema de la tabla
for column in table.columns:
    print(f"Column: {column.name}, Type: {column.type}")

# Imprimir la instruccion CREATE TABLE

print(table.create(engine))

Idea de solucion en la celda debajo

In [ ]:
from sqlalchemy import create_engine, MetaData
import pandas as pd

#0 creo el conector al motor de BD
engine = create_engine('sqlite:///ingenieria.db')

#1 -  Listo todas las tablas de la base y las imprimo en pantalla
tables = engine.table_names()
print(tables)

In [ ]:
# Listo los campos de la tabla carreras

# Obtengo la metadata de la base de datos
metadata = MetaData()
metadata.reflect(bind=engine)  # Reflejamos las tablas existentes en la metadata

# Obtengo la tabla por su nombre
table_name = 'carreras'
table = metadata.tables[table_name]

# Imprimie el esquema de la tabla
for column in table.columns:
    print(f"Column: {column.name}, Type: {column.type}")

# El dato requerido es: la Carrera=72 y el ciclo = 0

In [ ]:
# Alternativa 'facil': Hago una consulta simple por plan para ver los campos
df = pd.read_sql_query("SELECT * from carreras", engine)

In [ ]:
# Saco todos los estudiantes de computacion que ingresaron entre 2000 y 2006 de la tabla estcarr
f = pd.read_sql_query("SELECT * from estcarr where  Carrera=72 and Fechaing between 20000101 and 20060101 and PorCambioPlan='N'", engine)

In [ ]:
# Estadusticas basicas de df

df.info()

df.describe()

df.head()

## Filtrando Un Dataframe Pandas

#### Metodos de Filtrado



1.   **Indexacion Booleana:** Es el metodo mas comun. Se crea una mascara boolenan basada en una condicion  y se la aplica al DataFrame.

In [ ]:
import pandas as pd

   # Sample DataFrame
   data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
           'Age': [25, 30, 22, 28],
           'City': ['New York', 'London', 'Paris', 'Tokyo']}
   df = pd.DataFrame(data)

   # Filter rows where Age is greater than 25
   filtered_df = df[df['Age'] > 25]

   # Para ver la salida, ejecute el código.

**Razonamiento:**

`df['Age'] > 25 ` crea una serie booleana (True/False) donde True indica filas que cumplen la condición. El uso de esta serie dentro de `df[...]` selecciona solo las filas con valores verdaderos.


2.   **Método query():** Proporciona una forma más legible de filtrar usando expresiones.

In [ ]:
filtered_df = df.query('Age > 25 and City == "London"')

  # Para ver la salida, ejecute el código.

**Razonamiento:**
 La condición se escribe como una expresión de cadena. Los nombres de las columnas se pueden usar directamente `.loc()` e `.iloc()`: Estos descriptores de acceso se pueden combinar con la indexación booleana.



3.  ** Métodos loc() & iloc():** Estos descriptores de acceso se pueden combinar con la indexación booleana.

In [ ]:
# Filter using loc and a boolean condition
   filtered_df = df.loc[df['Age'] > 25, ['Name', 'City']]

   # Para ver la salida, ejecute el código.

**Razonamiento:**

`loc()` se utiliza para la indexación basada en etiquetas. El primer argumento selecciona filas, el segundo argumento selecciona columnas.



3.   **Método isin():** Útil para filtrar en base a una lista de valores

In [ ]:
cities = ['London', 'Paris']
   filtered_df = df[df['City'].isin(cities)]

 # Para ver la salida, ejecute el código.

**Razonamiento:**

`isin()` comprueba si cada valor de la columna está presente en la lista especificada.

4.**Método filter()** en Pandas DataFrames se utiliza para subconjuntos de filas o columnas según las etiquetas de índice especificadas.

In [ ]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)

# Filtrar columnas por nombre
filtered_df = df.filter(items=['Name', 'Age'])

# Para ver la salida, ejecute el código.

# Filtrar filas por índice (eje=0)
filtered_df = df.filter(like='li', axis=0)

# Para ver la salida, ejecute el código.